.panel {
  border: 3px solid dodgerblue;
  background: #808080;
  margin: 10px;
}
h1 {
  color: #0000ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
  color: #808080;
}
.big-panel {
  border: 3px solid dodgerblue;
  background: #808080;
  margin: 10px;
  font-size: 32px;
  padding: 20px;
}
#side-nav {
  background: #333;
}
#side-nav a:link {
  color: white;
  display: block;
  padding: 8px;
}
#side-nav a:hover {
  background: #777;
}
.little-panel {
  border: 3px solid dodgerblue;
  background: #808080;
  margin: 10px;
  font-size: 12px;
  padding: 5px;
}
